:root{
    --firstColor: #424242;
    --secondColor: #eaeaea;
    --thirdColor: #5097ca;
    --fourthColor: rgba(80, 151, 202, 0.7);
}

body{
    background: var(--firstColor);
    color: var(--secondColor);
    font-family: Rubik, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: xx-large;
    font-weight: 425;
}
h2{
    font-size: x-large;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.socialLinks{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin: 10px;
    width: 90%;
}

div button-subcontainer{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 15px;
}

button{
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size: large;
    font-weight: inherit;
    color: var(--secondColor);
    background-color: var(--thirdColor);
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 5px;
    @media (pointer: none), (pointer: coarse) {
        font-size: 50px;
        border-radius: 10px;
    }
    transition: 0.3s;
    cursor: pointer;
}
button:hover {background-color: var(--fourthColor);}

.projectButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.centeredFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 500px;
}
.grid-container div{
    background: var(--firstColor);
    padding: 20px;
    border: 2px solid var(--secondColor);
    text-align: center;
    border-radius: 10px;
}

.grid-container img{
    height: 70px;
}

canvas{
    margin: 0;
    padding: 0;
    border: 3px solid var(--thirdColor);
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}
.headerFlex h1 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.headerFlex div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.backgroundCanvas{
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    border: 0;
}
.eventTable{
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid var(--thirdColor);
}
.eventTable th, td {
    border: 1px solid var(--thirdColor);
    collapse: collapse;
}
input{
    margin: 5px;
}
.loader {
    width: 30px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,var(--secondColor) 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
.horizontalFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
}